/* Used in the "Code" section */
table.listing tbody tr:nth-child(odd) {
    background: whitesmoke;
}

table.listing tbody tr:hover {
    background: lightgrey;
}

/* Used for the "Bugs" section */
div.listing > div.buglisting-row:nth-child(odd) {
    background: whitesmoke;
}

div.listing > div.buglisting-row:hover {
    background: lightgrey;
}

/* Browsing files */
#logentries tbody tr.blueRow1 {
    background: whitesmoke;
}

#logentries tbody tr[class*="blueRow"]:hover {
    background: lightgrey;
}